<!-- 使用変数　communities: communityの情報 -->
<h4>
	My Communities
</h4>
<% communities.each do |community| %>
	<div class="item">
		<div class="row">
			<div class="col-md-5">
				<%= link_to community_path(community.id) do %>
					<%= image_tag "sports02.jpg", class: "community" %>
				<% end %>
			</div>
			<div class="col-md-7">
				<!-- コミュニティ名 -->
				<%= link_to community_path(community.id) do %>
					<h5><%= community.name %></h5>
				<% end %>
				<!-- コミュニティ紹介 -->
				<p class="introduction">
					<%= truncate( community.introduction, length: 140) %>
				</p>
			</div>
		</div>
	</div>
	<% end %>
