<div class="user-mypage">
	<div class="container">
		<div class="row">
			<p class="flash-message"></p>
			<!-- 左側 -->
			<div class="col-md-5">
				<p class="relationship-text">


				<%= user_image_tag @this_user, class: "user" %>

				<div class="profile-list">
					<ul class="details-table">
						<!-- ニックネーム -->
						<%= detail_list("ニックネーム", @this_user.nickname) %>
						<!-- 本名 -->
						<% if @this_user.name[0] == '#'%>
							<%= detail_list("名前", "非表示") %>
						<% else %>
							<%= detail_list("名前", @this_user.full_name) %>
						<% end %>
						<!-- 年代 -->
						<%= detail_list("年代", @this_user.generation) %>
						<!-- 地域 -->
						<% if @this_user.area != nil %>
							<%= detail_list("地域", @this_user.area.name + "  " + @this_user.city) %>
						<% else %>
							 <%= detail_list("地域", "未設定") %>
						<% end %>
						<!-- 性別 -->
						<%= detail_list("性別", @this_user.what_sex) %>
						<!-- スポーツれき -->
						<% if @user == @this_user %>
							<% input = link_to "編集", my_sports_path %>
						<% end %>
						<%= detail_list("スポーツ歴", input) do %>
							<div class="history">
								<% @this_user.my_sports.each do |my_sport| %>
									<!-- スポーツ名 -->
									<p class="sports-name">
										<%= my_sport.sport.name %>
									</p>
									<!-- 歴 -->
									<p class="sports-years">
										<%= my_sport.how_long %>
									</p>
									<p class="rank">
										<%= my_sport.rank.name %>
									</p>
								<% end %>
							</div>
						<% end %>
						<!-- 目的 -->
						<% if @user == @this_user %>
							<% input = link_to("編集", user_purposes_path)%>
						<% end %>
						<%= detail_list("目的", input ) do %>
							<div class="purpose clearfix">
								<% @this_user.purposes.each do |purpose| %>
									<span class="item">
										<%= purpose.name %>
									</span>
									<% end %>
							</div>
						<% end %>
						<!-- 自己紹介 -->
						<%= detail_list("自己紹介") do %>
								<p class="user-introduction">
									<%= @this_user.introduction %>
								</p>
						<% end %>
					</ul>
					<% if @user == @this_user %>
						<%= link_to "プロフィールの編集", edit_user_path(@this_user.id), class: "user-edit-btn" %>
					<% end %>
				</div>
			</div> <!-- 左側-->

			<!-- 右側 -->
			<div class="col-md-7">
			<!-- コミュニティ -->
				<div class="communities">
					<%= render 'users/users/community_mini_index', communities: @communities %>
				</div><!-- コミュニティ -->
				<!-- 募集 -->
				<div class="boards">
					<%= render 'users/users/board_mini_index', boards: @boards %>
				</div><!-- 募集 -->
			</div><!-- 右側 -->
		</div>
	</div>
</div>


<script>
	// 高さと横幅を同じに
	sameHeight('.user')
	// sameHeight('.community')
</script>
