<!-- 使用変数 object: objectなど -->
<div class="object-users">
	<div class="container">
     <div class="row">
       	<div class="row">
					<div class="user-box col-md-offset-3 col-md-6">
						<div class="image">
							<%= link_to user_path(object.manager_user.id) %>
								<%= user_image_tag object.manager_user %>
							<% end %>
						</div>
						<div class="image-text">
							<%= link_to user_path(object.manager_user.id) %>
								<p>
									名前：　<%= object.manager_user.name %>
								</p>
							<% end %>
							<p>
								<%= truncate object.manager_user.introduction, length: 83 %>
							</p>
						</div>
					</div>
        </div>
				<div class="col-md-offset-1">
					<% object.users.where.not(id: object.manager_user.id).each do |user| %>
						<div class="user-box col-md-5">
							<%= user_image_tag user %>
							<div class="image-text">
								<p>
									名前：　<%= user.name %>
								</p>
								<p>
									<%= user.introduction %>
								</p>
							</div>
						</div>
					<% end %>
				</div>
     </div>
	</div>
</div>
<script>
	sameHeight('img')
</script>
