<div class="board-detail-content">
	<div class="container">
		<div class="row">
			<!-- 画像を表示 -->
			<div class="clearfix">
				<div class="col-md-6">
					<%= board_image_tag @board %>
				</div>

				<div class="col-md-6">
					<h4>
						<%= @board.name %>
					</h4>


					<p class="tags-label">目的</p>
					<ul class="tags clearfix">
						<% @board.purposes.each do |p|  %>
							<li class="purpose_tag">
								<%= p.name %>
							</li>
						<% end %>
					</ul>

					<p class="tags-label">対象</p>
					<ul class="tags clearfix">
						<% @board.ranks.each do |r|  %>
							<li class="rank_tag">
								<%= r.name %>
							</li>
						<% end %>
					</ul>

					<ul class="details-table">
						<!-- ジャンル -->
						<%= detail_list "ジャンル", @board.sport.name %>
						<!-- 応募資格 -->
						<%= detail_list "応募資格", "楽しくスポーツしたああああああああああい人！" %>
						<!-- 区域 -->
						<%= detail_list "区域", @board.area.name.to_s + "  " + @board.city.to_s %>
						<!-- 場所 -->
						<%= detail_list "場所", @board.place %>
						<!-- 日時 -->
						<%= detail_list "日時", @board.do_date %>
						<!-- 人数 -->
						<%= detail_list "人数", "#{@board.good_users.count}  /  #{@board.max_people}"  %>
						<!-- 締切日 -->
						<%= detail_list "締切日", @board.closing_date %>
						<!-- コミュニティ名 -->
						<% if @board.community_id  %>
							<% input = link_to @board.community.name, community_path(@board.community.id) %>
							<%= detail_list "コミュニティ名",input %>
						<% else %>
							<%= detail_list "コミュニティ名", "設定なし" if @board.community_id %>
						<% end %>
						<!-- 作成者 -->
						<% input = link_to @board.manager_user.nickname, user_path(@board.manager_user.id) %>
						<%= detail_list "作成者", input %>
					</ul>
					<!-- 募集紹介ぶん -->
					<div class="details-text">
						<pre><%= @board.introduction %></pre>
					</div>
				</div>
			</div>



		</div>
		<div class="row middle-box">
			<div class="charts col-md-9"></div>

			<!-- 申請などの一覧 -->
			<div class="requests col-md-3">
				<div class="item-box">
					<!-- 作成者のみに制限 -->
					<% if @board.manager_user == current_user && user_signed_in? %>
						<p class="position">管理者</p>
						<%= link_to "ユーザー", board_users_path(@board.id), class: "item", data: {add: "User List"} %>

						<%= link_to "メッセージ", board_message_path(@board.id), class: "item", data: {add: "Message List"} %>

						<%= link_to "募集を編集", edit_board_path(@board.id), class: "item", data: {add: "Edit board"} %>

						<%= link_to "申請一覧", board_board_users_path(board_id: @board.id), class: "item", data: {add: "Request List"} %>

						<%= link_to "許可申請一覧", board_board_admits_path(board_id: @board.id), class: "item", data: {add: "Admit List"} %>

						<%= link_to "拒否申請一覧", board_board_rejects_path(board_id: @board.id), class: "item", data: {add: "Reject Lis"} %>
					<% end %>
					<!-- 作成者以外 -->
					<!-- 申請を出していない場合 -->
					<% if @request == nil && @board.manager_user != current_user %>
						<p class="position">参加ユーザー</p>
						<%= link_to "参加申請", new_board_board_user_path(board_id: @board.id), class: "item", data: {add: "Join Request"} %>

					<!-- 申請中の場合 -->
					<% elsif @request && @request.approval == nil %>
						<p class="position">参加ユーザー</p>
						<%= link_to "申請取り消し", edit_board_board_user_path(board_id: @board.id, id: @request.id), class: "item", data: {add: "User List"} %>

					<!-- 申請が許可されている場合 -->
					<% elsif @request && @request.approval == true &&  @board.manager_user != current_user %>
						<p class="position">参加ユーザー</p>
						<%= link_to "ユーザー一覧", board_users_path(@board.id), class: "item", data: {add: "User List"} %>
						<%= link_to "募集から抜ける", board_board_user_path(board_id: @board.id, id: @request.id), method: :delete,  class: "item", data: {add: "User List"} %>

					<% elsif @request && @request.approval == false %>
						<p class="position">参加ユーザー</p>
						<p class="rejecting">申請が拒否されています</p>
					<% end %>
				</div>
			</div>
		</div><!-- midele-box -->
	</div>
</div>

<script>
	itemSlid('.item')
</script>
