<header class="clearfix">
	<div class="row">
		<!-- 左 -->
		<div class="col-md-3" ></div>

		<!-- 真ん中 -->
		<div class="col-md-6 center-box" >
			<!-- 上 -->
			<div class="header-top"></div>
			<!-- 下 -->
			<div class="header-bottom">
				<!-- 左 -->
				<div class="item">
					<%= link_to "募集一覧", boards_path %>
				</div>
				<!-- 真ん中 -->
				<div class="item">
					<%= link_to "コミュニティー一覧", "aaa/aaa" %>
				</div>
				<!-- 右 -->
				<div class="item">
					<%= link_to "ユーザー一覧", "aaa/aaa" %>
				</div>
			</div>
		</div>

		<!-- 右 -->
		<div class="col-md-3 right-box">
			<% if user_signed_in? %>
				<%= link_to user_path(current_user.id) do %>
					<%= current_user.full_name %>
					<span> | </span>
					<%= link_to "ログアウト", destroy_user_session_path, method: :delete  %>
				<% end %>
			<% else %>
				<%= link_to "ログイン", new_user_session_path  %>
				<span> | </span>
				<%= link_to "新規登録", new_user_registration_path  %>
			<% end %>
		</div>
	</div>
</header>