<header class="clearfix">
	<div class="row">
		<!-- 左 -->
		<div class="col-md-1" ></div>

		<!-- 真ん中 -->
		<div class="col-md-7 center-box header" >
			<div class="list-box-text">
				<a href="javasctipt:void(0)" class="h-list-btn" data-name="board-list">Board</a>
				<a href="javasctipt:void(0)" class="h-list-btn" data-name="community-list">Community</a>
				<!-- <a href="javasctipt:void(0)" class="h-list-btn" data-name="user-list">User</a> -->
			</div>
		</div>

		<!-- 右 -->
		<div class="col-md-3 header">
			<!-- ログインちゅう　 -->
			<% if user_signed_in? %>
				<%= link_to "My Page", user_path(current_user.id) %>
				<%= link_to "Sign Out", destroy_user_session_path, method: :delete  %>
			<!-- 未ログイン -->
			<% else %>
				<%= link_to "Sign In", new_user_session_path  %>
				<%= link_to "Sign Up", new_user_registration_path  %>
			<% end %>
		</div>
	</div>
</header>

<!-- ヘッダーのボタンを押したら表示 -->
<div class="board-list">
	<div class="list-box">
		<ul>
			<li>
				<%= link_to boards_path do %>
					<pre>Board List  <span>募集一覧</span></pre>
				<% end %>
			</li>
			<li>

			<li>
				<%= link_to new_board_path do %>
					<pre>Make Board  <span>新規募集</span></pre>
				<% end %>
			</li>
		</ul>
	</div>
</div>

<div class="community-list">
	<div class="list-box">
		<ul>
			<li>
				<%= link_to communities_path do %>
					<pre>Community List  <span>コミュニティ一覧</span></pre>
				<% end %>
			</li>
			<li>

			<li>
				<%= link_to new_community_path do %>
					<pre>New Community  <span>新規コミュニティ</span></pre>
				<% end %>
			</li>
		</ul>
	</div>
</div>

<script>
$(document).load(function(){
        headerBtn();
});

function headerBtn() {
	$('.h-list-btn').on('click', function(){
		const name = '.' + $(this).data('name')

		if ($(name).css('display') == 'none') {
			displayOut('.board-list');
			displayOut('.community-list');
			displayOut('.user-list');
			displayIn(name);
		}else{
			displayOut(name);
		}
	});

        $('.board-list').on('click', function(){

                        displayOut(this);
        });
	 $('.community-list').on('click', function(){

                        displayOut(this);
        });

};

function displayOut(selector) {
	$(selector).fadeOut('show');
};

function displayIn(selector) {
	$(selector).fadeIn('show');
}
</script>
